
#entryBox {				
	padding: 15px;
	height: 105%;
	width: 1150px;
	border: solid #3D107B;
	border-width: 1px;
	background: #BEDFC4;
}

#textwindows{
   float: right;
   position: absolute;
   margin-left: 520px;
   margin-top: 90px;
}

h1 {						
	color: #6F0039;
}

#start {					
	margin-left: 10%;
}

#prompt {					
	padding-left: 20px;
	margin-top: 10px;
}

canvas {
    border-width: 2px;
    border-color: #999;
    border-style: solid;
}
