#textWindows{
   float: right;
   position: absolute;
   width: 300px;
   margin-left: 520px;
   background-color: white;
   border: solid black 1px;
   padding: 20px;
}

#player1 {
   color: red;
}

#player2 {
   color: blue;
}

#player3 {
   color: green;
}

#player4 {
   color: purple;
}

#entryBox {				
	padding: 15px;
	height: 105%;
	width: 1150px;
	border: solid #3D107B 1px;
	background: #BEDFC4;
}

h1 {						
	color: #6F0039;
}

#start {					
	margin-left: 10%;
}

canvas {
    border-width: 2px;
    border-color: #999;
    border-style: solid;
}

